/* OBRÁZKY, NADPISY, PARAGRAFY A JINÉ TEXTY*/

/* Header pro první stránku */
h1{
    font-family: Pacifico, sans-serif;
    font-weight: 50;
    font-size: 100px;
    color: beige;
}
h2{
    font-family: Pacifico, sans-serif;
    font-weight: 50;
    font-size: 60px;
    color: rgb(107, 107, 82);
    text-align: center;
}
h3{
    font-family: Pacifico, sans-serif;
    font-weight: 50;
    font-size: 40px;
    color: rgb(107, 107, 82);
}

/* Header pro nadpisy v ceníku */
h4{
    font-family: Pacifico, sans-serif;
    font-weight: 50;
    font-size: 25px;
    color: rgb(107, 107, 82);
    text-align: center;
}
p, li{
    font-family: "Comic Relief", sans-serif;
    font-size: 20px;
    color: rgb(107, 107, 82);
}
.mainbgimg{
    background-position-x: -5cm;
    background-position-y: -10cm;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url("galerie/WellnessProstorMain.jpg");
}

/* TLAČÍTKO */
button{
    background-color: darkslategray;
    padding: 15px 30px;
}
button a{
    font-family: "Comic Relief", sans-serif;
    font-size: 20px;
    color: beige;
    text-decoration: none;
}

/* STYLYZACE SÉMANTICKÝCH TAGŮ */

/* Stylyzace navigačního panelu */
nav {
    background: darkslategray;
    padding: 20px;
    margin: -15px;
    gap: 20px;
    display: flex;
    justify-content: right;
    font-size: 20px;
}
nav a {
    font-family: "Comic Relief", sans-serif;
    color:beige;
    text-decoration: none;
}

/* Stylizace div tagů */
.divLeft{
    border: 3px outset darkslategray;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    padding: 20px;
    width: 480px;
    margin: 0px 40px;
    margin-left: 80px;
    box-shadow: 7px 7px 5px gray;
    min-height: 610px;
}
.divCenter{
    border: 3px outset darkslategray;
    display: inline-flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 20px;
    width: 480px;
    margin: 0px 40px;
    box-shadow: 7px 7px 5px gray;
    min-height: 610px;
}
.divRight{
    border: 3px outset darkslategray;
    display: inline-flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 20px;
    width: 480px;
    margin: 0px 40px;
    box-shadow: 7px 7px 5px gray;
    min-height: 610px;
}
/* .divCenter nefungoval s 10. nabídkou... */
.anotherCenteredDiv{
    border: 3px outset darkslategray;
    display: inline-flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 20px;
    width: 480px;
    margin: 20px 690px;
    box-shadow: 7px 7px 5px gray;
    min-height: 610px;
}

/* Stylyzace footer*/
/* Sticky footer*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
/* Styly */
footer{
    background-color: darkslategray;
    margin: -8px;
}
footer a{
    color: darksalmon;
}
footer p{
    color: beige;
}